

/* タブレットのスタイル */
@media screen and (max-width: 1112px){
    .main-container {
        width: 900px;
    }
    .nav-links a{
        font-size: 12px;
    }
    .main-container h1{
        font-size: 30px;
        padding-top: 50px;
    }
    .strength-text h3{
        font-size: 16px;
    }
    .strength-text p{
        font-size: 14px;
    }
}
@media screen and (max-width: 900px){
    .main-container {
        width: 600px;
    }
    .strength-text p{
        font-size: 12px;
    }
    .strength-content{
        margin-bottom: 50px;
    }
    .menu{
        padding-bottom: 30px;
    }
    .menu-text{
        width: 300px;
    }
    .menu-info{
        width: 200px;
    }
    #access{
        padding-bottom: 50px;
    }
    .directions p{
        font-size: 14px;
    }

    .nav-links{
        display: block;
    }
    header .main-container{
        display: flex;
        justify-content: space-between;
    }
    .header__nav{
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);
        background-color: #fff;
        transition: ease .4s;
    }

}

/* SPのスタイル */
@media screen and (max-width: 630px){
    .strength-contents{
        display: block;
    }
    .strength-content{
        width: 70%;
        margin: 0 auto;
        margin-bottom: 50px;
        padding-bottom: 50px;
    }
    .strength-content:last-child{
        margin: 0 auto;
    }

    .map-and-text {
        display: block;
    }
    .map-text{
        padding-left: 0px;
    }
    .directions{
        width: 100%;
        text-align: center;
        margin: 20px 0;
    }
    .hours{
        text-align: center;
    }

}

@media screen and (min-width: 960px) {
    /*PC時非表示にする*/
    .hamburger {
      display: none;
    }
  }

  
